<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Album of Travel   <small> 記錄我的美好旅程 </small></h1>
      <p align="right"><%= link_to 'New Photo' , new_photo_path, class: "btn btn-default Active "   %></p>
    </div>

    <% @photos.each do |photo| %>
      <div class="col-sm-4">
        <div class="photo">
          <%= link_to photo_path(photo) do %>
            <div class="photo-img">
              <%= image_tag photo.file_location.url,  class: "img-thumbnail" %>
            </div>
            <h2><%= photo.title%></h2>
          <% end %>
            <p>日期： <%= photo.date %></p>
            <p>內容： <%= photo.description %></p>


        <div class="links">
          <%= link_to 'Edit' ,edit_photo_path(photo), class: "btn btn-info Active "  %>
          <%= link_to 'Destroy' ,photo_path(photo) ,class: "btn btn-danger Active " , method: :delete, data:{confirm: "Are you sure?" } %>
        </div>
        </div>
      </div>
    <% end %>

    </div>
</div>
